
.container {
    max-width: -webkit-calc(100% - 14.6%) !important;

    &.container-section {
        padding-left: -webkit-calc(100% - 92%) !important;
    }

    &.container-right-section {
        padding-right: -webkit-calc(100% - 85%) !important;
    }
}

.container-right-section {
    padding-right: -webkit-calc(100% - 85%) !important;
}

.o-header {
    padding: 20px 0;
    z-index: 99;
    background: rgba(44, 83, 126, 0.6);
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Calibri';

    .custom-logo-link {
        max-width: 292px;

        img {
            width: 100%;
            height: auto;
        }
    }

    ul {
        li {
            margin-right: 80px;

            &:last-child {
                margin-right: 40px;
            }

            a {
                color: #fff;
                text-transform: uppercase;
                font-weight: 700;
                font: normal normal bold 24px 'Calibri';
            }
        }
    }

    .language {
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            padding: 2px 4px;
            border-radius: 5px;
            color: #fff;
            text-decoration: none;

            &:nth-child(2) {
                background: #E67854;
            }
        }
    }
}

section {
    .section-bg-blue {
        background-color: #2C537E;
        color: #fff;
    }

    .section-bg-white {
        background-color: #fff;
        color: #2C537E;
    }

    img {
        width: 100%;
        height: auto;
    }

    &.image-blue-white {

        .col-lg-5 {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        margin-top: 104px;
        min-height: 640px;

        &.image-blue {
            margin-top: 50px;

            .col-lg-7 {
                .section-bg-blue {
                    height: 100%;
                    min-height: 640px;
                }
            }
        }

        img {
            height: 100%;
        }

        .section-bg-blue {
            padding: 108px 130px;


            h5 {
                font: normal normal bold 32px/40px 'Outfit';
                letter-spacing: 0px;
                color: #FFFFFF;
                text-transform: capitalize;
                font-size: 32px;
                margin-bottom: 16px;
            }

            p {
                font: normal normal normal 24px/36px 'Calibri';
                letter-spacing: 0px;
                color: #FFFFFF;
                font-size: 24px;
            }
        }
    }
}

@media (min-width:768px) {
    .container-right {
        margin-right: 0;
        margin-left: calc(50vw - 375px);
    }
}

@media (min-width:992px) {
    .container-right {
        margin-right: 0;
        margin-left: calc(50vw - 485px);
    }
}

@media (min-width:1200px) {
    .container-right {
        margin-right: 0;
        margin-left: calc(50vw - 630px);
    }
}

.first-section {
    height: 830px;

    .row {
        height: 100%;

        div {
            height: 100%;

            img {
                max-width: 100%;
                width: 100%;
                height: 100%;
            }
        }
    }
}

section {
    h2 {
        font: normal normal normal 64px 'Outfit';
        font-size: 64px !important;
        letter-spacing: 0px;
        margin-bottom: 48px;
    }

    p {
        font: normal normal normal 24px/36px 'Calibri';
        font-size: 24px;
    }

    .div-a {
        margin-top: 48px;
        height: auto !important;

        a {
            padding: 15px 35px;
            background: #E67854;
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 30px;
            color: #fff;
            text-decoration: none;
            font: normal normal bold 20px/48px 'Calibri';
            font-size: 20px;
            line-height: 20px;
            margin-right: 31px;
            border: 4px solid #E67854;
        }
    }
}


.svg-center {
    bottom: 0;
    right: 26%;
}

.first-second-block {
    padding-bottom: 50px;

    .col-lg-5 {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.what-have {
    margin-top: 110px;

    h2 {
        color: #2C537E;
        font: normal normal normal 64px/81px 'Outfit';
    }

    .d-flex {
        gap: 21px;
        margin-top: 13px;
    }
}

.btn-orange-b0 {
    font: normal normal bold 32px/40px 'Outfit';
    font-size: 32px;
    letter-spacing: 0px;
    color: #FFFFFF;
    background: #E67854 0% 0% no-repeat padding-box;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn-orange-b0:after {
    content: '>';
    position: absolute;
    opacity: 0;
    top: 10px;
    right: -10px;
    transition: 0.5s;
}

.btn-orange-b0:hover {
    padding-right: 40px;
    padding-left: 20px;
    background: #2C537E 0% 0% no-repeat padding-box;
    color: #fff;
}

.btn-orange-b0:hover:after {
    opacity: 1;
    right: 10px;
}

.h2-div {
    padding: 51px 130px;


    h2 {
        margin-bottom: unset;
        color: #E67854;
        font: normal normal normal 52px/66px Outfit !important;
        font-weight: 400 !important;
        display: flex;
        align-items: center;

        span {
            font: normal normal normal 64px/81px Outfit !important;
            margin-right: 20px;
        }
    }
}

.four-column {
    padding: 80px 0;

    .row {
        div {
            gap: 28px;
            align-items: center;
            font: normal normal normal 24px/40px 'Calibri';
            letter-spacing: 0px;
            color: #2C537E;
            font-size: 24px;
        }
    }
}


.wysiwyg {
    height: auto !important;
}

.portoflio {

    .d-flex {
        gap: 16px;

        a {
            min-height: 525px;
            background-size: cover;
            background-position: center;
            position: relative;

            div {
                position: absolute;
                bottom: 0;
                width: 100%;
                background: rgba(48, 89, 135, 0.6);
                color: #fff;
                padding: 20px 40px;
            }
        }
    }


}


.o-footer__middle {
    background: #2b537e;

    .white-section {
        height: 500px;
        background: #fff;
    }

    .portoflio {
        margin-top: -320px;
        margin-bottom: 220px;

        h2 {
            font-size: 64px;
            margin-bottom: 50px;
        }
    }

    .form {
        .col-lg-4 {
            h2 {
                font: normal normal normal 64px/81px Outfit;
                color: #fff;
                margin-bottom: 55px;
            }

            .row {
                font: normal normal normal 24px/36px Calibri;
                letter-spacing: 0px;
                color: #FFFFFF;
                margin-bottom: 18px;

                .col-lg-10 {
                    p {
                        margin-bottom: 0;
                    }
                }

                a {
                    font: normal normal normal 24px/36px Calibri;
                    letter-spacing: 0px;
                    color: #FFFFFF;
                    text-decoration: none;
                }
            }
        }

        .col-lg-8 {
            .row {
                margin-bottom: 16px;

                input {
                    width: 100%;
                    background-color: #2b537e;
                    border: 2px solid #FFFFFF;
                    padding: 10px 15px;
                    color: #fff;

                    &::placeholder {
                        /* Chrome, Firefox, Opera, Safari 10.1+ */
                        color: #fff;
                        opacity: 1;
                        /* Firefox */
                    }

                    &::-ms-input-placeholder {
                        /* Internet Explorer 10-11 */
                        color: #fff;
                    }

                    &::-ms-input-placeholder {
                        /* Microsoft Edge */
                        color: #fff;
                    }
                }

                textarea {
                    width: 100%;
                    background-color: #2b537e;
                    border: 2px solid #FFFFFF;
                    padding: 10px 15px;
                    color: #fff;

                    &::placeholder {
                        /* Chrome, Firefox, Opera, Safari 10.1+ */
                        color: #fff;
                        opacity: 1;
                        /* Firefox */
                    }

                    &::-ms-input-placeholder {
                        /* Internet Explorer 10-11 */
                        color: #fff;
                    }

                    &::-ms-input-placeholder {
                        /* Microsoft Edge */
                        color: #fff;
                    }
                }
            }
        }
    }

    .btn-orange {
        margin-top: 20px;
    }
}

.btn-orange {
    padding: 15px 35px;
    background: #E67854 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    font: normal normal bold 20px/48px "Calibri";
    font-size: 20px;
    line-height: 20px;
}

.copyright {
    margin-top: 170px;
    padding-bottom: 17px;

    span {
        color: #fff;
        font: normal normal normal 24px/36px Calibri;
    }
}





// Variables
$deep-blue: #1e3470;
$speed3: cubic-bezier(0.26, 0.48, 0.08, 0.9);

// Size var
// Update this value to change the language switcher size
$height: 64px;

// Global Style

.language-switcher {
    margin-left: 10px;
    position: relative;
    display: inline-block;
    width: calc(#{$height} * 2);
    //   height: $height;
    //   -webkit-transform: translateY(40%);
    //   -moz-transform: translateY(40%);
    //   -ms-transform: translateY(40%);
    //   -o-transform: translateY(40%);
    //   transform: translateY(40%);

    // Closing Animation
    -webkit-transition: transform 0.17s $speed3;
    -moz-transition: transform 0.17s $speed3;
    -ms-transition: transform 0.17s $speed3;
    -o-transition: transform 0.17s $speed3;
    transition: transform 0.17s $speed3;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .select-fr,
    .select-en {
        position: absolute;
        font-size: 24px;
        top: 0;
        color: #fff;
        line-height: initial;
    }

    .select-fr {
        left: #{$height / 3.5};
    }

    .select-en {
        right: #{$height / 4};
    }
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.slider:before {
    position: absolute;
    content: "";
    height: 32px;
    left: 8px;
    width: 50px;
    top: -2px;
    //   left: 0;
    //   bottom: 0;

    background-color: #e67855;
    box-shadow: 0 3px 64px rgba($deep-blue, .16);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}


input:focus+.slider {
    box-shadow: none;
}

input:checked+.slider:before {
    -webkit-transform: translateX($height);
    -ms-transform: translateX($height);
    transform: translateX($height);
}

/* Rounded sliders */
.slider.round {
    border-radius: $height;
}

.slider.round:before {
    border-radius: 15%;
}

@media(max-width:1755px) {
    .svg-center {
        width: 26%;
    }
}

@media(max-width:1550px) {
    .o-header ul li {
        margin-right: 40px;

        a {
            font-size: 18px;
        }
    }
}

@media(max-width:1220px) {
    .o-header ul li {
        margin-right: 10px;
        font-size: 18px;
    }
}

@media(max-width:992px) {
    .container.container-section {
        padding-left: 0 !important;
    }

    .wysiwyg-quote {
        margin-left: 50px;
    }

    .navbar-collapse {
        margin-top: 50px;
        text-align: center;

        ul {
            margin-bottom: 50px;

            li {
                margin-right: 0 !important;

                a {
                    font-size: 25px;
                }
            }
        }

    }

    .first-section {
        height: 100%;

        .row {
            .col-lg-7 {
                padding-top: 150px !important;
                padding-bottom: 150px !important;
                text-align: center;
            }

            .col-lg-5 {
                height: 500px;
            }
        }

    }

    .svg-center {
        display: none;
    }

    .container.container-right-section {
        padding-right: 0 !important;
    }

    section .div-a {
        justify-content: center;
    }

    .what-have .d-flex {
        flex-direction: column;
    }

    section.image-blue-white .col-lg-5 {
        height: 500px;
    }

    .four-column .row div {
        justify-content: center;
        margin-bottom: 20px;
    }

    section.image-blue-white.image-blue {
        margin-bottom: 50px;
    }

    .portoflio .d-flex {
        flex-direction: column;

        a {
            width: 100%;
        }
    }

    .form {
        .col-lg-4 {
            text-align: center;
        }

        form {
            .col-lg-6 {
                margin-bottom: 16px;
            }

            .btn-orange {
                display: flex;
                justify-content: center;
            }
        }
    }

    .copyright {
        text-align: center;
    }

    .h2-div {
        padding: 50px;
    }

    section.image-blue-white .section-bg-blue {
        padding: 50px;
    }
}

.first-section {
    .section-bg-blue {

        .btn-orange:hover {
            background: #2C537E 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #00000029;
            border: 4px solid #E67854;
            color: #E67854;
        }
    }

    .section-bg-white {
        .btn-orange:hover {
            background: #ffffff 0% 0% no-repeat padding-box;
            border: 4px solid #E67854;
            color: #E67854;
        }
    }
}

.o-header ul li a:hover {
    transition: 0.5s ease-in-out;
    text-decoration: underline;
    color: #fff;
}

.btn-orange:hover {
    background: #2C537E 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 4px solid #E67854;
    color: #E67854;
}

.wysiwyg-quote {
    position: relative;

    img {
        position: absolute;
        width: 50px;
        height: 50px !important;
        left: -70px;
        top: -10px;
    }

    p {
        font: normal normal normal 36px/52px Outfit !important;
    }
}

@media(max-width: 1234px) and (min-width: 992px) {
    .first-section {
        height: 1000px;
        min-height: 1200px;
    }
}

.o-footer__middle {
    .form {
        .wpcf7-form {
            p {
                display: flex;
                gap: 10px;

                &:nth-child(4) {
                    span {
                        width: 100%;
                    }
                }
            }

            input[type=submit] {
                padding: 15px 35px;
                background: #E67854 0% 0% no-repeat padding-box;
                box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
                border-radius: 30px;
                color: #fff;
                text-decoration: none;
                font: normal normal bold 20px/48px "Calibri";
                font-size: 20px;
                line-height: 20px;
                border: 0;
                width: auto;
            }

            .wpcf7-not-valid-tip {
                color: #ffd700;
                margin-top: 10px;
            }
        }
    }
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
    color: #fff;
    border-color: #fff;
    padding: 20px;
}

@media(max-width:992px) {
    section {

        &.what-have {
            margin-top: 50px;
        }

        &.image-blue-white {
            margin-top: 20px;

            &.image-blue {
                margin-bottom: 0;
                &:nth-child(5){
                    margin-top: 0;
                }
            }
        }

        h2 {
            font-size: 32px !important;
        }

        p {
            font-size: 16px !important;
            line-height: 22px !important;
        }

        .div-a {
            a {
                font-size: 14px !important;
                margin-right: 0 !important;
            }
        }

        .btn-orange-b0 {
            font-size: 16px !important;
        }

        .h2-div {
            h2 {
                justify-content: center;
            }
        }

        .section-bg-blue {
            text-align: center;
        }
    }

    section.image-blue-white.image-blue .col-lg-7 .section-bg-blue {
        min-height: 100% !important;
    }

    .container-right-section {
        padding-right: 50px !important;
    }

    .wysiwyg-quote p {
        font-size: 24px !important;
        line-height: 40px !important;
    }
}

@media(max-width:440px) {
    .o-header .custom-logo-link {
        max-width: 150px;
    }

    .navbar-toggler {
        font-size: 16px !important;
    }

    .navbar-collapse ul li a {
        font-size: 14px;
    }

    .navbar-collapse {
        margin-top: 20px;

        ul {
            margin-bottom: 20px;
        }

        .language-switcher .select-fr,
        .language-switcher .select-en {
            font-size: 18px;
        }

        .slider::before {
            height: 26px;
            width: 42px;
        }

        .language-switcher {
            width: calc(59px * 2);
        }

    }

    .o-header {
        background: rgba(44, 83, 126, 1);
    }

    .d-flex.div-a {
        gap: 15px;

        a {
            padding: 15px 10px;
        }

    }

    .what-have h2 {
        line-height: 32px;
    }

    .o-footer__middle .form .col-lg-4 h2 {
        font-size: 36px !important;
        line-height: 40px !important;
    }

    .h2-div h2 {
        font-size: 36px !important;
    }

    .o-footer__middle .form .col-lg-4 .row a {
        font-size: 18px !important;
    }

    .o-footer__middle .form .col-lg-4 .row .col-lg-10 p {
        font-size: 18px !important;
    }

    .o-footer__middle .form .wpcf7-form p {
        flex-direction: column;
    }

    .o-footer__middle .form .wpcf7-form br {
        display: none;
    }

    .copyright {
        margin-top: 20px;

        span {
            font-size: 14px;
        }
    }

    .o-footer__middle {
        .portoflio {
            margin-bottom: 40px;

            h2 {
                font-size: 44px;
                text-align: center;
            }

            .d-flex {
                a {
                    min-height: 300px;
                }
            }
        }

        .form .col-lg-4 h2 {
            margin-bottom: 20px;
        }
    }
}

* {
    scroll-margin-top: 150px;
}
@media(min-width:2000px){
    .h2-div {
        padding: 51px -webkit-calc(100% - 87%);
    }
    section.image-blue-white .section-bg-blue {
        padding: 108px -webkit-calc(100% - 87%);
    }
}
@media(min-width:1420px){
    .wpcf7-form span{
        width: 50%;
    }
}